body{
	margin: 0px;
	background: #2F4F4F;
}
form{	
	width: 40%;
	height: 500px;
	margin: auto;	
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -20%;
	margin-top: -250px;
}
fieldset{
	border-radius: 5px;
}

input{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border:0px;
	border-radius: 10px;
	text-align: center;
	font-size: 20px;
	outline:0;
}
input:focus{
	background: #1E90FF;
}
input:first-child{
	margin-top: 20px;
}
input:last-child{
	margin-bottom: 20px;
}
button{
	width: 70px;
	height: 40px;
	margin: 0px;
	font-size: 15px;
	font-weight: bold;
	padding: 0px;
	outline:0;
	border-radius: 10px;
	color: black;
	background: #f1f1f1;
}
button:hover{
	background-color: #555;
	color: white;
}
.div_login{
	text-align: center;
	border-radius: 5px;
	background: #228B22;
}
img{
	width: 35px;
	height: 35px;
	/*margin-bottom: 5px; */
}
.div_inco{
	/*margin-top: 5px;*/
	display: inline-block;
	width: 35px;
}
.div_tip{
	visibility: hidden;
	width: 30px;
	background: black;
	color: white;
	text-align: center;
	border-radius: 5px;
	position: relative;
	top: 100%;
	left: 0px;
}
.div_inco:hover .div_tip{
	visibility: visible;
}